.RootPage {
    >.Welcome {
        >.Logo {
            text-align: center;
        }

        >.Slogan {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            color: #444444;
        }

        &.desktop {
            margin: 128px 0;

            >.Logo {
                font-size: 80px;
            }

            >.Slogan {
                font-size: 32px;
                font-weight: 600;
                margin-top: 48px;
            }
        }

        &.tablets {
            margin: 96px 32px;

            >.Logo {
                font-size: 64px;
            }

            >.Slogan {
                font-size: 24px;
                font-weight: 600;
                margin-top: 48px;
            }
        }

        &.mobile {
            margin: 96px 16px;
            >.Logo {
                font-size: 48px;
            }

            >.Slogan {
                font-size: 20px;
                margin-top: 48px;
            }
        }
    }
}