.Products-body {
    margin: 16px 0px 16px 0px;

    >.Decorate-Blank {
        background-color: #f9f9f9;
    }
}

.Product-outline {
    padding: 12px 16px;
    display: flex;

    >div {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    >.Name {
        flex: 1;
    }

    >.Description {
        flex: 2;
        display: flex;
        align-items: center;
    }

    >.Price {
        flex: 1;
        justify-content: flex-end;
    }
}

.Product-detail {
    padding: 20px 16px;

    >.Title {
        display: flex;

        >.Name {
            flex: 1;
        }
    }

    >.Image-root {
        margin: 8px 0px 0px 40px;
        max-width: 400px;

        &::before {
            padding-top: 50%;
        }
    }

    >.Info {
        padding: 8px 0px 0px 40px;
        display: flex;

        >.Description {
            flex: 1;
        }
    }

    >.Customize {
        margin-top: 8px;

        >.Name {
            margin-top: 8px;
        }

        >.Description {
            padding: 8px 0px 0px 40px;
        }

        >.Selection {
            display: flex;
            align-items: center;
            padding: 8px 0px 0px 40px;

            >.Name {
                flex: 1;
            }
        }
    }

    &.mobile {
        >.Image-root {
            margin: 8px 0px 0px 0px;
        }

        >.Info {
            padding: 8px 0px 0px 0px;
        }

        >.Customize {
            >.Description {
                padding: 8px 0px 0px 0px;
            }

            >.Selection {
                padding: 8px 0px 0px 0px;
            }
        }
    }
}