.Abstract-root {
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &.blur {
        background-color: #f9f9f9;

        >.Abstract-body:hover {
            background-color: #ececec;
        }
    }

    &.focus {
        cursor: unset;
    }

    >.Abstract-body {
        outline: none;
    }
}