.Terminal-root {
    color: rgba(0, 0, 0, 0.75);

    >.Title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 24px;
    }

    >.Control {
        margin: 0px 0px 16px 0px;

        >.SearchField-Root .MuiInputBase-root {
            border-radius: 5px;
        }

        >.Right {
            height: 100%;

            >.Control-item {
                height: 100%;

                &.New, .New {
                    color: white;
                    background-color: #00A320;
                    border-radius: 5px;
                }

                >.FoldList-Label {
                    height: 100%;

                    &>button {
                        height: 100%;
                        padding: 1px 12px;
        
                        svg {
                            margin-right: 3px;
                        }
                    }
                }

                >.FoldList-List {
                    padding: 10px 15px;
                }
            }
        }

        &.desktop, &.tablets {
            height: 30px;
            display: flex;

            >.SearchField-Root {
                width: 40%;
            }

            >.Right {
                margin-left: auto;
            }
        }

        &.mobile {
            >.SearchField-Root {
                height: 30px;
                width: 100%;
            }

            >.Right {
                margin-top: 16px;
                height: 30px;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}