.NavBar-Root {
    position: fixed;
    top: 0;
    background-color: white;
    transition: box-shadow .3s;
    z-index: 90;

    &.Scrolled {
        box-shadow: 0 2px 16px 0 rgba(0,0,0,0.08);
    }

    .NavBar-Body {
        height: inherit;
        display: flex;
        max-width: 1260px;
        margin: auto;

        .NavLogo-Root {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        
            span {
                font-size: 32px;
                font-weight: bold;
            }
    
            &.NavLogo-desktop {
                margin-left: 30px;
            }
    
            &.NavLogo-tablets, &.NavLogo-mobile {
                position: absolute;
                height: 100%;
                left: 50%;
                transform: translate(-50%, 0px);
            }
        }

        .NavButtons-Root {
            margin-left: auto;
        }
    }
}

.NavBar-Space, .NavBar-Root {
    height: 64px;
    width: 100%;
}