.MenuTopBar {
    max-width: 498px !important;

    >.Logo {
        position: absolute;
        height: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        cursor: pointer;
        display: flex;
        align-items: center;

        >span {
            font-size: 32px;
            font-weight: bold;
        }
    }

    >.CartButton {
        margin-left: auto;
    }
}